.comment {
  padding: $issue-item-padding;
  .labelBox {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 2px 5px;
    color: $primaryGray;
  }
  a {
    text-decoration: none;
    color: $linkBlue;

    &:hover {
      text-decoration: underline;
    }
    &:active {
      text-decoration: underline;
    }
  }
}