.error-page {
  margin-top: 50px;
  .icon {
    font-size: 128px;
  }
  #heading {
    margin-left: 20px;
  }
  .status {
    margin-left: 20px;
    font-size: 40px;
  }
  .message {
    margin-left: 148px;
  }
}