.issue-info {
  padding: $issue-item-padding;
  .top {
    .title {
      text-decoration: none;
      color: $primaryTitle;
      &:hover {
        color: $primaryTitleActive;
      }
      &:active {
        color: $primaryTitleActive;
      }
    }
  }
  a {
    text-decoration: none;
    color: $linkBlue;

    &:hover {
      text-decoration: underline;
    }
    &:active {
      text-decoration: underline;
    }
  }
}