.issue-info {
  padding: $issue-item-padding;
  a {
    text-decoration: none;
    color: $linkBlue;

    &:hover {
      text-decoration: underline;
    }
    &:active {
      text-decoration: underline;
    }
  }
}