.item {
  white-space: nowrap;
  margin-bottom: $gutter-width;

  .left-col {
    display: inline-block;
    vertical-align: top;
  }
  .right-col {
    display: inline-block;
    white-space: normal;
    margin-left: $gutter-width;
    width: $max-screen-size - $gutter-width - $gravator-height;
  }
}