.labels {
  display: inline-block;
  .label{
    font-size: $font-xsmall;
    display: inline-block;
    margin-right: 5px;
    padding: 2px 4px;

    a {
      text-decoration: none;
      color: white;
    }
  }
}