.pagination {
  margin-left: $gutter-width + $gravator-height;
  margin-bottom: 20px;
  padding: 10px 15px;
  .page-number-list {
    text-align: center;
    .page {
      display: inline;
      &.number {
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid transparent;
        a {
          padding: 5px 8px;
        }
      }
      &.selected {
        background-color: $primaryBlue;
        color: white;
        padding: 5px 8px;
        border-radius: 2px;
      }
      &.number:not(.selected):hover {
        text-decoration: none;
        cursor: pointer;
        a {
          color: white;
          background-color: $primaryBlue;
          border-radius: 2px;
        }
      }
      a {
        color: $primaryBlue;
      }
    }
  }
}