.pagination {
  margin-left: $gutter-width + $gravator-height;
  margin-bottom: 20px;
  padding: 10px 15px;
  .page-number-list {
    text-align: center;
    .page {
      display: inline;
      &.number {
        margin-left: 8px;
        margin-right: 8px;
        padding: 5px;
        border: 1px solid transparent;
      }
      &.selected {
        background-color: $borderGray;
      }
      &.number:not(.selected):hover {
        text-decoration: none;
        border-color: $borderGray;
      }
    }
  }
}