/*breakpoints*/
$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-large: 1200px;

/*Fonts*/
$font-xsmall: 11px;
$font-small: 13px;
$font-medium: 15px;
$font-large: 18px;

/*Other styling*/
$boxShadow: 0 2px 4px rgba(0,0,0,.2);

/*Colors*/
$primaryGray: #767676;
$borderGray: #e0e4e9;
$secondaryGray: #aaa;
$primaryTitle: #020e65;
$primaryTitleActive: #0078ff;
$linkBlue: #4078c0;
$primaryText: #333;

/*Variables*/
$max-screen-size: 900px;
$gutter-width: 20px;
$issue-item-padding: 15px;
$gravator-height: 100px;
