@import 'variables';
@import 'user-tile';
@import 'labels';
@import 'item-layout';
@import 'issue-list-item';
@import 'issue-state';

body {
  max-width: $max-screen-size;
  margin-left: auto;
  margin-right: auto;
  font: 13px/1.3 "Helvetica Neue",Helvetica,Arial,sans-serif;

  @media screen and (max-width: $breakpoint-small) {
    max-width: $max-screen-size;
  }
  @media screen and (min-width: $breakpoint-medium) {
    max-width: $max-screen-size;
  }
  @media screen and (min-width: $breakpoint-large) {
    max-width: $max-screen-size;
  }

  .ShadowBox {
    border: 1px solid $secondaryGray;
    box-shadow: $boxShadow;
  }
  .Bdrs {
    border-radius: 2px;
  }
  .bold {
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }
  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
}
