@import 'variables';
@import 'user-tile';
@import 'labels';
@import 'item-layout';
@import 'issue-list-item';
@import 'issue-state';
@import 'issue-detail-header';
@import 'comment';

body {
  max-width: $max-screen-size;
  margin-left: auto;
  margin-right: auto;
  font: 13px/1.3 "Helvetica Neue",Helvetica,Arial,sans-serif;

  @media screen and (max-width: $breakpoint-small) {
    max-width: $max-screen-size;
  }
  @media screen and (min-width: $breakpoint-medium) {
    max-width: $max-screen-size;
  }
  @media screen and (min-width: $breakpoint-large) {
    max-width: $max-screen-size;
  }

  .ShadowBox {
    border: 1px solid $borderGray;
    box-shadow: $boxShadow;
  }
  .Bdrs {
    border-radius: 2px;
  }
  .bold {
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }
  .C-Gray {
    color: $primaryGray;
  }
  .C-SGray {
    color: $secondaryGray;
  }
  .C-LinkBlue {
    color: $linkBlue;
  }
  .link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &:active {
      text-decoration: underline;
    }
  }
  .codeBox {
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 0px 5px;
    font-size: $font-medium;
    color: inherit;
  }
  .large-codeBox {
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    font-size: $font-medium;
    color: inherit;
  }
  .Mstart-10px {
    margin-left: 10px;
  }
  .Mend-10px {
    margin-right: 10px;
  }
  .Mt-10px {
    margin-top: 10px;
  }
  .Mb-10px {
    margin-bottom: 10px;
  }
  .Mb-20px {
    margin-bottom: 20px;
  }
  .Fz-s {
    font-size: $font-small;
  }
  .Fz-xs {
    font-size: $font-xsmall;
  }
  .Fz-m {
    font-size: $font-medium;
  }
  .Fz-l {
    font-size: $font-large;
  }
  .Fw-n {
    font-weight: normal;
  }
  .Fw-b {
    font-weight: bold;
  }
  .Fl-end {
    float: right;
  }
  .Ov-h {
    overflow: hidden;
  }
  .Lh-20px {
    line-height: 20px;
  }
  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  p {
    margin: 0px;
  }
}
